body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-section {
    background-image: url(images/PSX_20220629_162642.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 10rem;
}

.top-content {
    font-size: 2.5rem;
    padding: 3em;
    color: #124A65;
}

.top-content a {
    text-decoration: none;
    background-color: #124A65;
    color: aliceblue;
    font-size: 2rem;
    padding: .25em .5em;
    border-radius: .2em;
}

/* middle section */

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 1.5rem;
}

/* zakat */

.zakat-section {
    flex-direction: column-reverse;
}

.zakat-content {
    color: #274B87;
}

.zakat-content h1 {
    font-size: 3rem;
}

.allah-said {
    font-weight: 600;
    padding-left: 1rem;
    border-left: 3px solid #274B87;
}

.zakat-content a {
    text-decoration: none;
    background-color: #274B87;
    color: aliceblue;
    font-size: 1.25rem;
    padding: .5em 1em;
    border-radius: .5em;
}

.zakat-image img {
    width: 100%;
}

/* qurbani */

.qurbani-section {
    margin-bottom: 10vh;
}

#qurbani-content {
    color: #326A18;
}

#qurbani-content a {
    background-color: #326A18;
}

/* kindness */

.kindness-section {
    flex-direction: column-reverse;
    margin-bottom: 10rem;
}

#kindness-content {
    color: #915f4b;
}

#kindness-content a {
    background-color: #915f4b;
}


/* lets change */

.lets-change {
    margin-bottom: 20vh;
}

.lets-change h1 {
    text-align: center;
    color: #274B87;
}

#change-heading {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.lets-change a {
    text-decoration: none;
    background-color: #274B87;
    color: aliceblue;
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
}

.bring-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 0 1.5rem;
}

.general-fund,
.zakat-fund,
.qurbani-fund {
    background-color: azure;
    padding: 1rem;
}

.general-fund img {
    width: 100%;
}

.zakat-fund img {
    width: 100%;
}

.qurbani-fund img {
    width: 100%;
}

/* subcribe form */

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5rem auto;
    background-color: azure;
    padding: 20px 0 40px 0;
}

.email-heading {
    color: #274B87;
    font-size: 1rem;
}

.email-form {
    border: 2px solid #274B87;
    display: flex;
}

.email-form input {
    font-size: 20px;
    padding: 10px 15px;
    border: none;
    background-color: azure;
    outline: none;
}

.email-form button {
    font-size: 20px;
    padding: 11px 15px;
    background-color: #274B87;
    border: none;
    color: white;
    cursor: pointer;

}

/* footer section */

footer {
    font-size: 20px;
    font-family: 'Lobster Two', cursive;
    text-align: center;
    color: white;
    background-color: #274B87;
    padding: 50px;
}


@media screen and (min-width: 800px) {
    .middle-section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .zakat-content {
        width: 50%;
    }

    .zakat-image img {
        width: 100%;
    }

    .bring-change {
        flex-direction: row;
    }

    .subscribe-form {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}